yandex-services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="offers_feed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="provider">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="site" type="xs:anyURI"/>
              <xs:element name="phone" type="xs:string"/>
              <xs:element name="email" type="xs:string"/>
              <xs:element name="address" type="xs:string"/>
              <xs:element name="region" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="offers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="offer" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="category_id" type="xs:string"/>
                    <xs:element name="url" type="xs:anyURI"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="price">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="amount" type="xs:decimal"/>
                          <xs:element name="currency" type="xs:string"/>
                          <xs:element name="unit" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="image" type="xs:anyURI"/>
                    <xs:element name="region" type="xs:string"/>
                    <xs:element name="updated_at" type="xs:date"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="generated_at" type="xs:dateTime" use="required"/>
      <xs:attribute name="source" type="xs:anyURI" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
